<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Official public Microsoft VSSDK feed for the VS18 test harness. -->
    <add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="vssdk">
      <package pattern="Microsoft.VisualStudio.Extensibility.Testing.*" />
      <package pattern="Microsoft.VisualStudio.Interop" />
      <package pattern="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
